PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/real_todo?schema=public"
ALLOW_REQUEST_URL="http://localhost:3000"
AUTH_SECRET="local-dev-secret"
AUTH_SUGAR="real-todo-sugar"
JWT_EXPIRES_IN="30m"
