.projects {
  width: 100%;
  height: 100%;
}

.content {
  padding: 16px;
  height: 100%;
}

.list {
}

.chart {
  width: 50%;
  background: #fefefe;
}

.dashboard {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  background: #fefefe;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 100;
}

.todos {
  padding: 32px;
  background: #fefefe;
}

.todos .content {
  min-width: 100%;
}
