.projects {
  width: 100%;
}

.content {
  padding: 16px;
  height: 100%;
}

.list {
}

.chart {
  width: 50%;
}

.dashboard {
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 100;
}
