.left {
  min-width: 240px;
}

.group {
  border-radius: 8px;
  background: #f7f7ff;
}

.group .title {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 64px;
  padding: 16px 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.groupContent {
  padding: 32px;
  padding-top: 0;
}

.group .row {
  padding: 0;
}

.group .col {
  max-width: auto;
}

.group .input {
  padding: 16px;
  min-width: 100%;
}

.col {
  width: 100%;
}

.input {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--border-color);
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  padding: 18px 32px;
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
}


.error {
  padding: 4px 0;
  color: var(--danger-color);
}

.required {
  position: relative;
  top: -4px;
  display: inline-block;
  color: var(--danger-color);
  margin-left: 4px;
}
