.container {
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.box {
  border-radius: 4px;
  height: 16px;
  width: 16px;
  border: 1px solid var(--primary-color);
  margin-right: 12px;
}

.check {
  position: relative;
  top: 1px;
  left: 1px;
}

.checked {
  background: var(--primary-color);
}
