.container {
  cursor: pointer;
  display: flex;
  width: 32px;
  height: 16px;
  border-radius: 36px;
  align-items: center;
  justify-content: flex-start;
}

.handle {
  background: white;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.handleOn {
  transform: translateX(16px);
  border: 1px solid var(--primary-500-color);
}

.handleOff {
  transform: translateX(0px);
  border: 1px solid var(--border-color);
}

.switchOff {
  background: var(--border-color);
}

.switchOn {
  background: var(--primary-color);
}
