.container {
}

.shadow {
  border: 1px solid var(--form-card-border-color);
  border-radius: 8px;
  background: var(--form-card-bg-color);
  box-shadow: 0px 1px 4px 1px var(--form-card-shadow-color);
  padding: 32px;
}

.title {
  color: var(--form-label-color);
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 32px;
}

.left {
  min-width: 260px;
  color: var(--form-label-color);
}

.label {
  font-size: 14px;
  font-weight: 700;
}

.description {
  margin-top: 8px;
  color: var(--form-description-color);
  font-size: 12px;
  font-weight: 300;
}

.content {
  padding: 0;
}

.input {
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid var(--form-card-border-color);
  box-shadow: none;
  width: 100%;
  color: var(--form-label-color);
}

.input::placeholder {
  color: var(--form-placeholder-color);
}

.row {
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.col {
  width: 100%;
}

.error {
  padding: 4px 0;
  color: var(--danger-color);
  font-size: 12px;
}

.required {
  position: relative;
  top: -4px;
  display: inline-block;
  color: var(--danger-color);
  margin-left: 4px;
}
