.button {
  cursor: pointer;
  border: 0;
  padding: 12px 16px;
  border-radius: 8px;
  letter-spacing: 1.4px;
  width: 100%;
}

.default {
  background: var(--background-color);
  border: 1px solid var(--border-color);
}

.primary {
  background: var(--primary-color);
  color: var(--font-color-light);
}

.secondary {
}
