.container {
  height: 100%;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0 0;
}

.body {
  height: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.chart {
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  margin-top: 24px;
}

.footer label {
  font-size: 12px;
  margin-right: 16px;
}

.control {
  margin: 12px 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legendList {
  display: flex;
  gap: 32px;
  font-size: 12px;
}

.legendLabel {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 20px;
  height: 12px;
  border-radius: 2px;
  margin-right: 8px;
}

.kind {
  display: flex;
}

.dateRange {
  display: flex;
  align-items: center;
  gap: 4px;
}

.input {
  padding: 8px;
  border-radius: 4px;
  border: 0;
}

@media screen and (max-width: 960px) {
  .header {
    flex-direction: column;
  }

  .control {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}
