.section {
  width: 100%;
}

.content {
  margin: auto;
  max-width: 1920px;
  display: flex;
  margin-bottom: 128px;
  margin-top: 32px;
  width: 100%;
  justify-content: space-evenly;
}

.sectionTitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.sectionContent {
  font-size: 20px;
  line-height: 2.5;
  margin: 32px;
  padding: 32px;
  color: var(--font-color-weak);
}
